# .gitignore

# Папка генерации (ее будет создавать сервер GitHub)
_site/

# Кэш питона
__pycache__/
*.py[cod]

# Системные файлы
.DS_Store
Thumbs.db

# Виртуальное окружение (если есть)
venv/
env/
.env