{% extends "base.html" %}

{% block content %}
<div id="home">
    <h1>{{ title }}</h1>

    <p style="color: #666; margin-top: -0.5em; margin-bottom: 2em; font-style: italic;">
        All of my {{ posts_count }} posts, sorted in categories.
    </p>

    {% for category in categories %}
        <h2 id="{{ category.slug }}">{{ category.title }}</h2>
        
        <ul class="posts">
            {% for post in category.posts %}
                <li>
                    <span>{{ post.date | date: "%d %b %Y" }}</span> &raquo; 
                    <a href="{{ baseurl }}/{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}